.data_notifications {
    text-decoration: none;
    color: #9ca3af;
    padding: 15px;
  }
  
  .data_notifications:hover {
    text-decoration: none;
    color: #393a34;
    transition: color .3s;
  }
  
  .btn_more_notifications {
    padding: 5px;
    background-color: #9ca3af;
    color: white;
    width: 100%;
  }
  
  .left-column {
    position: fixed;
    border-left-style: solid;
    border-left-color: #aeb1b6;
    border-left-width: 1px;
    height: 100%;
    padding: 15px;
    width: 25%;
    color: gray;
  
  }
  
  .left-column i {
    cursor: pointer;
  }
  
  #navbarSupportedContent li:hover .activating_item {
    width: 100%;
    transition: width .5s;
  }
  
  .activating_item {
    height: 3px;
    background-color: white;
    width: 0%;
  }