.modal-dialog {
    padding: 5%;

}

@media(max-width: 576px) {
    .modal-dialog {
        padding: 10%;
    }
}

.rigth-column .row {
    margin-top: 5%;
}

@media(max-width: 768px) {
    .username {
        margin-left: 10%;
    }
}

.username, .username:hover {
    text-decoration: none;
    color: #393a34;
}