.backContainer {
  background: linear-gradient(
    rgba(0, 0, 0, 0.1) 20%,
      rgba(0, 0, 0,0.5) 40%,
      rgb(0, 0, 0)
    ),
    url(/assets/login_background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

@media screen and (min-width: 600px) {
    .backContainer{
        background:linear-gradient(-90deg,
            rgb(0, 0, 0) 54%,
            rgba(0, 0, 0,0.5) 70%,
            rgba(0,0,0,0)
          ), url(/assets/login_background.jpg);
        background-color: black;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left;
        justify-content: flex-end;
        padding-right: 10%;
    }

    .loginContainer h1{
       font-size: 3rem;
    }
}


 @media screen and (min-width: 1080px) {
  .loginContainer{
 height: 500px;
}
} 

.loginContainer{
    border: 6px solid #c8bbd383;
    border-radius: 15px;
    text-align: center;
    width: 500px;
    margin: 5%;
}


.loginContainer .logo{
    width: 100px;
    object-fit: contain;
}

form i{
    font-size: 1.6rem;
    color: gray;
    position: absolute;
    left: -20px;
}

.loginContainer .text-input{
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    width: 90%;
}

@media(max-width: 315px) {
  .fas {
    display: none;
  }
}

#form-register {
  overflow-y: scroll;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 250px;
  margin-top: 3%;
  margin-bottom: 3%;
  display: none;
}

#form-register::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: transparent;
}

#form-register::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  display: none;
}

#form-register::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: #555;
}


#type {
  display: none;
}

#type figure {
  object-fit: cover;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}


#type figure img {
  transition: all .4s ease-in-out;
  border-radius: 10px;

}

figure {
  height: 140px;
}

@media screen and (min-width: 768px) {
  #type figure {
    transition: all .4s ease-in-out;
    opacity: .3;
    border-radius: 10px;
  }

  #type figure:hover {
    opacity: 1;
  }
}