body {
  background-color: #e0dfdf;
}

#form {
  position: relative;
  margin-right: 20px;
}

#form .fa-search {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #9ca3af;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  border-radius: 7px;
  display: block;
  width: 100%;
  padding: 0rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#sectionsCellView {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sectionsCellView i {
  color: #b6b4b4;
  font-size: 1.6rem;
  padding-left: 5px;
  padding-right: 5px;
}

.activeCellSection {
  color: #212529 !important;
}

.activePCSection {
  color: white !important;
  font-weight: bolder;
}

.data_notifications {
  text-decoration: none;
  color: #9ca3af;
  padding: 15px;
}
  
.data_notifications:hover {
  text-decoration: none;
  color: #393a34;
  transition: color .3s;
}

#navbarSupportedContent li:hover .activating_item {
  width: 100%;
  transition: width .3s;
}

.activating_item {
  height: 3px;
  background-color: white;
  width: 0%;
}

.btn_more_notifications {
  padding: 5px;
  background-color: #9ca3af;
  color: white;
  width: 100%;
}

.left-column {
  position: fixed;
  border-left-style: solid;
  border-left-color: #aeb1b6;
  border-left-width: 1px;
  height: 100%;
  padding: 15px;
  width: 25%;
  color: gray;
}

.left-column i {
  cursor: pointer;
}

